.container{
    width: 70%;
    height: auto;
    margin: auto;
}
.container .row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.post{
    width: 28%;
    height: 200px;
    background-color: pink;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 20px;
}

.post .header{
    font-size: 2em;
    margin: 10px 0;
}

.post .full-content{
    display: none;
}

.expanded{
    /*width: 100%;*/
    /*height: 400px;*/
    order: -1;
    animation: expanding 1.0s forwards;
    -webkit-animation: expanding 1.0s forwards; /* for less modern browsers */
}

/* The animation code */
@keyframes expanding {
    0%   {overflow: hidden;}
    100% {width:100%; height:400px; overflow: auto;}
}
