<div class="home-view">
    <div class="container">
        <div class="post" ng-repeat="post in home.posts.publicPosts track by $index" ng-click="home.posts.togglePost(post)" id="{{post.$id}}">
            <div class="preview">
                <div class="header">{{post.header}}</div>
                <div class="content">{{post.brief}}</div>
            </div>
            <div class="full-content">
                <div class="header">{{post.header}}</div>
                <div class="content">{{post.content}}</div>
            </div>
        </div>
    </div>
</div>
