<div class="home-view">
    <div class="masonry">
       <div ng-repeat="item in home.posts.publicPosts" class="item" id="{{item.$id}}">
            <div class="preview">
                <div class="header">{{home.posts.publicPosts[$index].header}}</div>
                <!--<div class="content">{{home.posts.publicPosts[$index].brief}}</div>-->
            </div>
            <div class="full-content">
                <div class="header">{{home.posts.publicPosts[$index].header}}</div>
                <div class="content">{{home.posts.publicPosts[$index].content}}</div>
            </div>
       </div>
    </div>
</div>
